{% extends "layout.html" %}
{% block content %}
<div class="cart">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 mt-5">
                <h3 class="text-center">سبد خرید شما</h3>
                {% if cart_items %}
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                        <tr>
                            <th scope="col">نام</th>
                            <th scope="col">توضیحات</th>
{#                            <th scope="col">Specification</th>#}
                            <th scope="col">قیمت</th>
{#                            <th scope="col">Total Pieces</th>#}
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for cart in cart_items %}
                        <tr>
                            <td>{{ cart.item.title }} <span class="badge badge-{{ cart.item.label_colour }}">{{ cart.item.labels }}</span></td>
                            <td>{{ cart.item.description }}</td>
{#                            <td>{{ cart.item.instructions }}</td>#}
                            <td>{{ cart.item.price }}</td>
{#                            <td>{{ cart.item.pieces }} pieces</td>#}
                            <td><a class="btn btn-danger" href="{% url 'main:remove-from-cart' cart.id %}">حذف😢</a></td>
                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h4 class="text-center">سبد خرید شما خالی است!لطفا سفارش دهد</h4>
                {% endif %}
            </div>
            <div class="col-sm-3 mt-5 mb-3">
                <div class="content-section">
                    <h3 class="text-center">خلاصه سفارشات</h3>
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light text-center text-dark">کل: {{ total }}🤑</li>
                        <li class="list-group-item list-group-item-light text-center text-dark">تعداد باکس: {{ count }}📦</li>
{#                        <li class="list-group-item list-group-item-light text-center text-dark">Total Pieces: {{ total_pieces }}🍣</li>#}
                        <li class="list-group-item list-group-item-light text-center text-dark"><a class="btn btn-info text-dark" href="{% url 'main:ordered' %}">سفارش نهایی🤝</a></li>
                        <li class="list-group-item list-group-item-light text-center"><a class="btn btn-warning text-dark" href="/">ادامه خرید✌️</a></li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}